# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
env/
venv/
.venv/
ENV/

# Django runtime
db.sqlite3
/data/db.sqlite3
/staticfiles/

# ⚡ OJO: NO ignoramos /media/

# Variables de entorno (secrets)
.env
.env.*         

# Logs
*.log          
logs/         

# Cachés de testing y cobertura
.pytest_cache/  
.coverage       
htmlcov/        

# Archivos de editores
.vscode/
.idea/
*.swp

# MacOS basura
.DS_Store
__MACOSX/
